li.media(media-data=encodeURIComponent(JSON.stringify(item)), media-type=item.type, media-id=item._id)
	a(href="/media/" + item._id)
		-var url = "http://img-cdn.video2home.net:8020/posters/"+item._id+"_med.jpg";
		div.img-holder
			img(src='/assets/svg/1F3A5.svg')
		section(style="background-image:url("+url+")")
		h4=item.title
